 ------
 About
 ------
 Hervé Boutemy
 ------
 2023-03-11
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ https://maven.apache.org/guides/mini/guide-apt-format.html

${project.name}
 
  To generate <<<META-INF/DEPENDENCIES>>>, <<<META-INF/LICENSE>>> and <<<META-INF/NOTICE>>> content in your jar, 
  configure <<<maven-remote-resources-plugin>>>:

+-----+
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-remote-resources-plugin</artifactId>
        <version>$context.get("version.maven-remote-resources-plugin")</version>
        <executions>
          <execution>
            <goals>
              <goal>process</goal>
            </goals>
            <configuration>
              <resourceBundles>
                <resourceBundle>org.apache.apache.resources:apache-jar-resource-bundle:${project.version}</resourceBundle>
              </resourceBundles>
            </configuration>
          </execution>
        </executions>
      </plugin>
+-----+

  Content is generated from your project dependencies with following Velocity templates:

  * {{{${project.scm.url}/src/main/resources/META-INF/DEPENDENCIES.vm}<<<DEPENDENCIES.vm>>>}}

  * {{{${project.scm.url}/src/main/resources/META-INF/LICENSE.vm}<<<LICENSE.vm>>>}}

  * {{{${project.scm.url}/src/main/resources/META-INF/NOTICE.vm}<<<NOTICE.vm>>>}}
